body {font-family: "Roboto", sans-serif;
    color: #2e2f42;
    background-color: E5E5E5;}
ul {list-style-type: none;}
a {text-decoration: none;
    font-style: normal;}
.logo {font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;}
.web {font-family: "Raleway", sans-serif;
    color: #4d5ae5;}
.navigation {font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;}
.navigation:hover, .navigation:active {color: #404BBF;}
.contacts {font-weight: 400;
        font-size: 16px;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;}
.contacts:hover {color: #404BBF;}
.order-service {background-color: #2e2f42;
                width: 1440px;
                height: 600px;}
h1 {font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;}
.order {display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 10px;
        border-radius: 4px;
        padding: 16px 32px;
        width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;}
.order:hover {background-color: #404BBF;}

h3 {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}
p {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}
h2 {font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;}
.footer-text {font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            background: #2e2f42;}
.footer-text .logo {font-family: "Raleway", sans-serif;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 1.16667;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: #f4f4fd;}

.footer-text .web {font-family: "Raleway", sans-serif;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 1.16667;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: #4d5ae5;}
